<!DOCTYPE html>

<h1>Main Page</h1>
<p></p>
<a href="/weather">Weather in vancouver</a>
<p></p>
<a href="/gallery">Gallery of yellow flowers</a>
{{!-- <form>
    <input type="text" id="locate">
    <br>
    <input type="submit">
</form> --}}